<!-- playlist-generator.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Generator</title>
</head>
<body>
    <h1>Welcome <%= user.displayName %> to the Playlist Generator</h1>

    <h2>Your Top Tracks</h2>
    <ul>
        <% if (userTopTracks && userTopTracks.length > 0) { %>
            <% userTopTracks.forEach(track => { %>
                <li><%= track.name %> by <%= track.artists[0].name %></li>
            <% }); %>
        <% } else { %>
            <p>No top tracks available.</p>
        <% } %>
    </ul>

    <% if (globalTopTracks && globalTopTracks.length > 0) { %>
      <h2>Global Top Tracks</h2>
      <ul>
        <% globalTopTracks.forEach(track => { %>
          <li><%= track.name %> by <%= track.artists[0].name %></li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>No global tracks available</p>
    <% } %>
    
</body>
</html>
